
/* Disable Mobile, Tablet & Desktop Content */
#tablet{
    display: none;
}
#desktop{
    display: none;
}
#mobile{
    display: none;
}

/* The End */

/* MOBILE  */

@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){
    #mobile{
        display: block;
    }
    .bg-light{
        background: #D24040 !important;
        box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.06);
    }
    .icon-nav{
        color: #fff;
        font-size: 1.5em;
        cursor: pointer; 
    }
    .navbar-brand{
        font-size: 1.5em;
        color: #fff !important;
        font-weight: 600;
    }
    .nav-bottom{
        width: 100%;
        max-width: 480px;
        position: fixed;
        margin: auto;
        bottom: 0;
    }
    .nav-bottom ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 60px;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    }
    .nav-bottom ul li{
        float: left;
        width: 33.33%;
    }
    .nav-bottom ul li a{
        display: block;
        text-decoration: none;
        text-align: center;
        line-height: 60px;
        color: #ccc;
        cursor: pointer;
    }
    .iconnav{
        font-size: 1.5em;
        color: rgba(210, 64, 64, 0.7);
    }
    .tab.active i{
        color: #D24040 !important;
        font-weight: bold;
    }
    .container-content{
        display: none;
    }
    .container-content.actives{
        display: inherit;
        margin: auto;
        top: 50px;
        transition: left ease-in .5s;
    }
    .header-main{
        width: 100%;
        padding: 80px 0 0 0;
        text-align: center;
        background-image: linear-gradient(150deg,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.781)),url(../img/covid19.jpg);
        background-size: cover;
    }
    .header-main h6{
        padding-bottom: 2em;
        color: #ddd;
        font-size: 2em;
    }
    .covid-stats{
        margin-top: 1em;
        padding: 2em;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.09);
        border-radius: 1em;
    }
    .country{
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        text-shadow: 1px 2px rgba(0,0,0,.2);
    }
    .data-cap{
        font-size: 12px;
        text-align: center;
    }
    .data-value{
        text-align: center;
        font-weight: bolder;
    }
    .covid-about{
        margin-top: 1em !important;
    }
    .about-head{
        font-weight: bold;
    }
    .contact-main{
        margin-top: 1em;
    }
    h6.contact-head{
        text-align: center;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 600;
    }
    .contact-info{
        margin-top: 1em;
        padding: 2em;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.09);
        border-radius: 1em;
    }
    .contact-icon{
        font-size: 1.55em;
    }
    .contact-info a{
        font-size: 1.2em;
        font-weight: 600;
        text-align: center;
        padding-left: 1em;
        color: #D24040;
    }
    .contact-mail{
        padding-top: 1em;
        font-size: 1.3em;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }
    input.myForm, textarea.myForm{
        width: 100%;
        background: #eee !important;
        border: none !important;
        outline: none !important;
        margin: .3em 0 .3em 0 !important;
        padding: 20px !important;
        border-radius: 15px !important;
        box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.06) !important;
    }
    .btn-submit{
        width: 100%;
        background-color: #D24040;
        color: #fff;
        margin-top: 0.3em;
        border: 0;
        padding: 12px;
        border-radius: 15px;
        font-weight: bolder;
        box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.06);
    }
    .stats-head{
        margin-top: 1em;
        text-align: center;
    }
    .stats-head h6{
        font-size: 1.5em;
        font-weight: 600;
    }
    .total-stats{
        margin-top: 1em;
        padding: 2em;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.09);
        border-radius: 1em;
    }
    .stats-cap{
        font-size: 12px;
        text-align-last: center;
    }
    .stats-value{
        font-size: 1.15em;
        text-align: center;
        font-weight: bolder;
    }
    .text-warn{
        color: #fff;
    }
    .thead-stats{
        background-color: #D24040;
        color: #ccc;
        border-color: rgb(212, 102, 102);
    }
    .thankyou{
        background-color: #D24040;
        height: 100vh;
        background-size: cover;
    }
    .thank-you-center{
        text-align: center;
        padding-top: 10em;
    }
    .thank-you-center i{
        color: #fff;
        font-size: 10em;
    }
    .thank-you-center p{
        font-size: 1.5em;
        color: #fff;
        font-weight: bold;
        padding-top: 3em;
    }
    .backlink{
        color: #fff;
        font-size: 1em;
        font-weight: 600;
    }
    .backlink i{
        font-size: 1em;
    }
    .about-me{
        text-align: center;
    }
    .about-me a{
        color: #D24040;
        font-weight: 700;
    }
    .about-app{
        text-align: center;
    }
    .about-app{
        color: #fff;
        padding-top: 3em;
    }
    .about-app h6{
        font-size: 1.33em;
    }
    .profiles a{
        padding: 15px;
    }
    .profiles a i{
        font-size: 1.3em;
        color: #fff;
    }
    .about-app a{
        color: #fff;
    }
}




/* TABLET */

@media only screen
    and (min-device-width : 500px)
    and (max-device-width : 768px){
    #tablet{
        display: block;
        background-color: #09cbd0;
        background-position: bottom;
        background-size: cover;
        height: 100vh;
    }
    .tabletContent{
        padding-top: 4em;
    }
    .tabletHead{
        text-align: center;
        text-shadow: 3px 6px rgba(255, 255, 255, 0.25);
        padding: 1em 0;
    }
    .tabletHead h1{
        font-weight: 600;
        font-size: 3em;
    }
    .footer{
        text-align: center;
        margin: 7em 0;
    }
    .footer p{
        font-size: 1.5em;
        font-weight: bold;
    }
}



/* DESKTOP  */

@media only screen
    and (min-device-width : 800px)
    and (max-device-width : 1440px){
    #desktop{
        display: block;
        background-color: #fff;
        height: 100vh;
        background-position: center;
        background-size: cover;
    }
    .desktopContent{
        padding-top: 1.5em;
    }
    .desktopHead{
        text-align: center;
        text-shadow: 3px 6px rgba(151, 149, 149, 0.25);
        padding: 1em 0;
    }
    .desktopHead h1{
        font-weight: 600;
        font-size: 3em;
    }
    .image{
        text-align-last: center;
    }
    .image img{
        margin: 0 auto;
        width: 28em;
    }
    .desktopContent .footer{
        text-align: center;
        margin-top: 5em;
    }
}